@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'satoshi';
      src: url('./fonts/Satoshi-Regular.woff');
    }
  }

  @layer base {
    @font-face {
      font-family: 'integral';
      src: url('./fonts/IntegralCF-Regular.woff');
    }
  }